# =========================================
# Python / Virtual Environments
# =========================================
# 忽略你的虚拟环境文件夹 (.venv)
.venv/
venv/

# 忽略Python的缓存文件和文件夹
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================
# Build & Distribution Artifacts
# =========================================
# 忽略打包和安装时生成的文件夹
build/
dist/
*.egg-info/
*.egg
wheels/


# =========================================
# IDE & Editor specific files
# =========================================
# 忽略PyCharm的项目配置文件夹 (.idea)
.idea/

# 忽略VSCode的项目配置文件夹
.vscode/


# =========================================
# Operating System specific files
# =========================================
# 忽略macOS系统生成的文件
.DS_Store

# 忽略Windows系统生成的文件
Thumbs.db


# =========================================
# Log and temporary files
# =========================================
*.log
*.tmp
*.swp